[Unit]
Description={{prometheus_serviceName}}
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_userId }}
Group={{ prometheus_groupId }}
Restart=always
RestartSec=2
StartLimitInterval=0
Type=simple
ExecStart={{ prometheus_exec_command }}

[Install]
WantedBy=multi-user.target